* {
    -fx-font-family: Montserrat;
    -fx-font-size: 18;

}

.anchor-pane {
    -fx-alignment: center;
    -fx-background-color: #080a11;
}

.main-anchor-pane {
    -fx-background-color: #080a11;
}

.highlighted-button {
    -fx-background-color: #ededdf;
    -fx-text-fill: #080a11;
    -fx-border-color: #080a11;
    fx-border-radius: 20px;
}

.pane {
    -fx-background-color: #ededdf;
}

.label {
    -fx-background-color: #ededdf;
    -fx-text-fill: #080a11;
    -fx-alignment: top-left;
}

.button {
    -fx-background-color: #080a11;
    -fx-text-fill: #ededdf;
    -fx-border-color: #ededdf;
    -fx-border-radius: 7px;
    -fx-font-family: Montserrat;
    -fx-cursor: pointer;
}

.button:hover {
    -fx-background-color: #192037;
    -fx-text-fill: #ededdf;
    -fx-border-color: #ededdf;
    -fx-border-radius: 7px;
    -fx-font-family: Montserrat;
    -fx-cursor: pointer;
}


.list-cell {
    -fx-background-color: #ededdf;
    -fx-text-fill: #080a11;
}

.list-cell:filled:hover {
    -fx-background-color: #080a11;
    -fx-text-fill: #ededdf;
    -fx-cursor: pointer;
}

.increment-arrow,
.decrement-arrow {
    -fx-background-color: #ededdf;
}

.thumb {
    -fx-background-color: #ededdf;
}

.text-field {
    -fx-text-fill: #080a11;
    -fx-background-color: #080a11, #ededdf, #ededdf;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.text-field:focused {
    -fx-background-color: #080a11, #ededdf, #ededdf;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.other-pane {
    -fx-background-color: #ededdf;
}


