*{
    -fx-font-family: Montserrat;
    -fx-font-size: 18;
}
.anchor-pane {
    -fx-alignment: center;
}

.volume-button.muted {
    -fx-background-image: url('images/volume-mute-fill.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-background-color: transparent;
}

.volume-button.muted:hover {
    -fx-background-image: url('images/volume-mute-fill-hover.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-background-color: transparent;
}

.volume-button {
    -fx-background-image: url('images/volume-up-fill.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-background-color: transparent;
}

.volume-button:hover {
    -fx-background-image: url('images/volume-up-fill-hover.png');
    -fx-background-size: 25px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-min-width: 25px;
    -fx-min-height: 25px;
    -fx-background-color: transparent;
}

.choice-box{
    -fx-font-family: Montserrat;
    -fx-cursor:pointer;
    -fx-border-color: #ededdf;
}
.simple-button{
    -fx-background-color: #0b1645;
    -fx-text-fill:  #ededdf;
    -fx-border-color:  #ededdf;
    -fx-border-radius: 7px;
    -fx-font-family: Montserrat;
    -fx-cursor:pointer;
}
.simple-button:hover{
    -fx-background-color: #15287a;
    -fx-text-fill:  #ededdf;
    -fx-border-color:  #ededdf;
    -fx-border-radius: 7px;
    -fx-font-family: Montserrat;
    -fx-cursor:pointer;
}
.imageview{
    -fx-fit-width: 100%;
    -fx-fit-height: 100%;
}

.label{
    -fx-text-fill:  #ededdf;
}

.choice-box .context-menu {
    -fx-background-color: #ededdf;
}

.choice-box .menu-item:focused {
    -fx-background-color: #0b1645;
}
.choice-box .label:focused {
    -fx-text-fill: #ededdf;
}
.choice-box .menu-item > .label {
    -fx-text-fill:#0b1645;
}
.choice-box .menu-item:focused > .label {
    -fx-text-fill: #ededdf;
}

.choice-box {
    -fx-background-color: #0b1645;
    -fx-border-color:  #ededdf;
    -fx-border-radius: 7px;
    -fx-mark-color:  #ededdf;
   }

.choice-box > .label {
    -fx-text-fill:  #ededdf;
}
.slider .thumb {
    -fx-background-color: #ededdf;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 7px;
}

.slider .thumb:focused {
    -fx-background-color: #0b1645;
    -fx-border-color: #e8e8cb;
    -fx-border-width: 2px;
}

.slider .track {
    -fx-background-color: #0b1645;
}

.slider .track:hover {
    -fx-background-color: #0b1645;
}

.slider .track-background {
    -fx-background-color: #e8e8cb;
}

.slider .track-background:hover {
    -fx-background-color: #e8e8cb;
}

.slider .thumb .thumb-label {
    -fx-text-fill: #e8e8cb;
}


